/* Réinitialisation des marges, rembourrages, et boîtes pour tous les éléments */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

/* Taille de police de base pour faciliter le calcul des tailles relatives */
html {
    font-size: 62.5%;
    overflow-x: hidden; /* Empêche le débordement horizontal */
    scroll-padding-top: 5.5rem; /* Ajuste le défilement pour la barre de navigation */
    scroll-behavior: smooth; /* Animation fluide du défilement */
}

/* Empêche le défilement vertical de la page */
body {
    overflow: hidden;
}

/* Style de l'en-tête */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: center;
    height: 100px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow); /* Ombre pour améliorer la qualité de la barre de navigation */
    text-align: center;
}

/* Style de la navigation */
header .navbar a {
    font-size: 1.7rem;
    border-radius: 4.5rem;
    padding: .6rem 1.5rem;
}

/* Style du logo */
header .logo {
    color: #ffffff;
    font-size: 2rem;
    font-weight: bolder;
}

/* Style des icônes dans l'en-tête */
header .icons #menu-bars {
    display: none;
}

/* Style du formulaire de recherche */
#search-form {
    position: fixed;
    top: -110%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1004;
    background: rgba(0, 0, 0, .8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

/* Activation du formulaire de recherche */
#search-form.active {
    top: 0;
}

/* Style de la zone de recherche */
#search-form #search-box {
    width: 50rem;
    border-bottom: .1rem solid #fff;
    padding: 1rem 0;
    color: #fff;
    font-size: 3rem;
    text-transform: none;
    background: none;
}

/* Style du texte de l'invite de recherche */
#search-form #search-box::placeholder {
    color: #eee;
}

/* Style du bouton de fermeture du formulaire de recherche */
#search-form #close {
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 2rem;
    right: 3rem;
    font-size: 5rem;
}

/* Style des icônes et liens dans l'en-tête */
header .icons i,
header .icons a {
    cursor: pointer;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.4rem;
    color: white;
    border-radius: 60%;
    background: rgba(0, 0, 0, 0.822);
}

/* Style des icônes et liens au survol */
header .icons i:hover,
header .icons a:hover {
    color: #ffffff;
    background: #192a56;
    transform: rotate(360deg);
}

/* Style du lien actif et au survol dans la navigation */
header .navbar a.active,
header .navbar a:hover {
    background: rgba(0, 0, 0, 0.721);
}

/* Style des éléments de la rangée de planètes */
.planet-row {
    display: flex; /* Affiche les éléments dans la même ligne */
}

/* Style du conteneur de planète */
.planet-container {
    position: relative;
    display: flex;
    align-items: center;
}

/* Style spécifique pour l'image de la première lune */
#moon1 {
    width: 60px;
}

/* Style commun pour les images de lune, terre et soleil */
.moonearthsun {
    width: 50px;
    transition: transform 0.6s ease;
    vertical-align: middle; /* Aligne l'image verticalement */
    margin-right: 5px; /* Ajuste la taille au besoin */
}

/* Style du texte des planètes */
.planet span {
    opacity: 0;
    position: absolute;
    top: 25%; /* Ajuste l'espacement */
    left: 50%; /* Centre le texte horizontalement */
    transform: translateX(-50%); /* Ajout */
    padding: .5rem 1.5rem;
    border-radius: 5.5rem;
    white-space: nowrap;
    color: white;
    transition: opacity .8s ease;
}

/* Activation du texte au survol des planètes */
.planet:hover span {
    opacity: 1;
    animation: slide .5s forwards;
}

/* Animation de glissement pour les images de planète */
.planet-container:hover .moonearthsun {
    animation: slide .8s forwards;
    transform: translateX(70px); /* Glisse les planètes */
}

/* Animation de glissement pour les planètes */
.planet-container .planet {
    animation: slide .5s forwards;
    width: 120px;
}

/* Animation de glissement au survol des conteneurs de planètes */
.planet-container:hover .planet {
    animation: slide 1s forwards;
}

/* Style spécifique pour l'icône */
.planet-container i {
    color: black;
}

/* Style de la section */
section {
    height: 100vh;
    align-items: center;
    justify-content: 106px; /* Ajuste la position du contenu */
    text-transform: uppercase;
    font-weight: bold;
}

/* Vidéo en arrière-plan */
.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
}

/* Style du conteneur de pages */
.pages .container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 600px;
    padding: 50px;
}

/* Style du conteneur de diapositives */
#slide {
    width: max-content;
    margin-top: 50px;
}
/* Style des éléments de diapositives */
.pages .item {
    width: 200px;
    height: 300px;
    background-position: 50% 50%;
    display: inline-block;
    transition: 0.5s;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
}

/* Positionnement des premières diapositives */
.pages .item:nth-child(1),
.pages .item:nth-child(2) {
    left: 0;
    top: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
}

/* Positionnement des diapositives restantes */
.pages .item:nth-child(3) {
    left: 50%;
}
.pages .item:nth-child(4) {
    left: calc(50% + 220px);
}
.pages .item:nth-child(5) {
    left: calc(50% + 440px);
}
.pages .item:nth-child(n + 6) {
    left: calc(50% + 660px);
    opacity: 0;
}

/* Style du contenu des diapositives */
.pages .item .content {
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    padding: 0;
    color: #eee;
    transform: translate(0, -50%);
    display: none;
    font-family: system-ui;
}

/* Activation du contenu des diapositives */
.pages .item:nth-child(2) .content {
    display: block;
    z-index: 11111;
}

/* Style du nom des éléments */
.pages .item .name {
    font-size: 40px;
    font-weight: bold;
    opacity: 0;
    animation: showcontent 1s ease-in-out 1 forwards;
}

/* Style de la description des éléments */
.pages .item .des {
    margin: 20px 0;
    opacity: 0;
    animation: showcontent 1s ease-in-out 0.3s 1 forwards;
}

/* Style des boutons des éléments */
.pages .item button {
    padding: 10px 20px;
    border: none;
    opacity: 0;
    animation: showcontent 1s ease-in-out 0.6s 1 forwards;
}

/* Animation pour afficher le contenu des éléments */
@keyframes showcontent {
    from {
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
        filter: blur(0);
    }
}

/* Style des boutons de défilement des diapositives */
.buttons {
    position: absolute;
    bottom: 30px;
    z-index: 222222;
    text-align: center;
    width: 100%;
}

.buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #555;
    transition: 0.5s;
}

.buttons button:hover {
    background-color: #bac383;
}

/* Style du pied de page */
footer {
    background: rgb(0, 0, 0);
    padding: 60px 0;
}

/* Style du logo dans le pied de page */
footer .logo {
    color: #ffffff;
    font-size: 4rem;
    font-weight: bolder;
}

/* Style des éléments dans le pied de page */
footer > div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* Style du texte de copyright dans le pied de page */
footer .copyright span {
    color: #fff;
    font-size: 12px;
    display: inline-block;
    margin-top: 5px;
}

footer .copyright img {
    height: 30px;
}

footer h1 {
    font-size: 18px;
    position: relative;
    margin-bottom: 30px;
    color: white;
}

footer h1:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    display: block;
    width: 60px;
    height: 2px;
    background: var(rgb(255, 255, 255));
}

footer ul {
    list-style-type: none;
}

/* ajouter de l'espace entre les lignes */
footer ul li:nth-child(even) {
    margin: 10px 0;
 }


/* Style des liens dans le pied de page */
footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: all .3s ease-in-out;
}

/* Effet de survol pour les liens dans le pied de page */
footer ul li a:hover {
    color: white;
}

/* Style des icônes des réseaux sociaux dans le pied de page */
footer .footer-socials a {
    margin-right: 20px; /* Marge à droite pour séparer les icônes */
    font-size: 22px; /* Taille de la police des icônes */
    color: white; /* Couleur des icônes */
}

/* Style des images des réseaux sociaux dans le pied de page */
footer .footer-socials img {
    width: 30px; /* Largeur des images */
    margin: 0 12px; /* Marge autour des images pour l'espacement */
    cursor: pointer; /* Curseur pointer pour indiquer que les images sont cliquables */
}

/* Effet de survol pour les liens des réseaux sociaux dans le pied de page */
footer .footer-socials a:hover {
    color: white; /* Changement de couleur au survol */
}

.footer-socials img{
    width: 30px;
    margin: 0 12px;
    cursor: pointer;
}

/* Conteneur du loader */
.loader-container{
    min-height: 100vh; /* Hauteur minimale égale à 100% de la hauteur de la fenêtre */
    display: flex; /* Utilisation de flexbox pour le centrage vertical et horizontal */
    justify-content: center; /* Centrage horizontal */
    background: #272626f7; /* Couleur de fond avec une certaine transparence */
    width: 100%; /* Largeur de 100% */
    height: 100%; /* Hauteur de 100% */
    align-items: center; /* Centrage vertical */
    position: fixed; /* Position fixe par rapport à la fenêtre */
    top: 0; /* Alignement en haut de la fenêtre */
    left: 0; /* Alignement à gauche de la fenêtre */
    z-index: 10000; /* Indice de positionnement pour s'assurer que le loader soit au-dessus des autres éléments */
    overflow: hidden; /* Masquage du débordement pour éviter le défilement */
}

/* Animation de sortie du loader */
.loader-container.fade-out{
    top:110%; /* Déplace le loader vers le bas de la fenêtre */
    opacity:0; /* Réduit l'opacité à 0 pour le rendre invisible */
}

/* Style des cercles du loader */
.circle01{
    position: absolute; /* Position absolue par rapport à son conteneur */
    width: 300px; /* Largeur du premier cercle */
    height: 300px; /* Hauteur du premier cercle */
    border: 2px solid #191919; /* Bordure du cercle */
    border-radius: 50%; /* Bordure arrondie pour créer un cercle */
    animation: animate 3s linear infinite; /* Animation de rotation avec une durée de 3 secondes */
}

.circle02{
    width: 200px; /* Largeur du deuxième cercle */
    height: 200px; /* Hauteur du deuxième cercle */
    animation: animate 6s linear infinite; /* Animation de rotation avec une durée de 6 secondes */
}

.circle03{
    width: 100px; /* Largeur du troisième cercle */
    height: 100px; /* Hauteur du troisième cercle */
    animation: animate 2s linear infinite; /* Animation de rotation avec une durée de 2 secondes */
}

/* Définition de l'animation de rotation */
@keyframes animate{
    0%{
        transform: rotate(0deg); /* Rotation de 0 degré au début de l'animation */
    }
    100%{
        transform: rotate(360deg); /* Rotation de 360 degrés à la fin de l'animation pour revenir à la position initiale */
    }
}

/* Style du point au centre de chaque cercle */
.circle01::before{
    content: ''; /* Contenu généré avant l'élément */
    position: absolute; /* Position absolue par rapport au cercle */
    top: -12px; /* Positionnement vers le haut pour le placer au centre */
    left: 50%; /* Positionnement horizontal au centre */
    transform: translateX(-50%); /* Décalage de 50% de la largeur pour le centrer horizontalement */
    width: 20px; /* Largeur du point */
    height: 20px; /* Hauteur du point */
    background: var(--clr); /* Couleur de fond du point */
    border-radius: 50%; /* Bordure arrondie pour créer un cercle */
    box-shadow: 0 0 20px var(--clr), 0 0 60px var(--clr); /* Ombre pour créer un effet de halo */
}

/* Média query pour les écrans de taille moyenne */
@media (max-width: 991px) {
    html {
        font-size: 55%; /* Réduction de la taille de la police */
    }

    header {
        padding: 1rem 2rem; /* Ajustement du rembourrage de l'en-tête */
    }

    section {
        padding: 2rem; /* Ajustement du rembourrage de la section */
    }
}

/* Média query pour les écrans plus petits */
@media (max-width: 768px) {
    /* Affichage du menu déroulant */
    header .icons #menu-bars {
        display: inline-block;
    }

    /* Style de la barre de navigation pour les écrans plus petits */
    header .navbar {
        width: 100%;
        top: 100%;
        left: 0;
        right: 0;
        background-size: cover;
        background-position: center;
        height: 100px;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1000;
        box-shadow: var(--box-shadow);
        text-align: center;
        position: absolute;
        background: #0000005f; /* Fond semi-transparent */
        border-top: .1rem solid rgba(0, 0, 0, .2); /* Bordure supérieure */
        border-bottom: .1rem solid rgba(0, 0, 0, .2); /* Bordure inférieure */
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); /* Masquage du contenu hors de la zone définie */
        justify-content: center; /* Centrage du contenu */
    }

    /* Activation de la barre de navigation pour les écrans plus petits */
    header .navbar.active {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
    }

    /* Style des liens de navigation pour les écrans plus petits */
    header .navbar a {
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #fffdfd00; /* Fond semi-transparent */
    }

    /* Style du texte des planètes pour les écrans plus petits */
    .planet span {
        opacity: 0;
        position: absolute;
        top: 30%; /* Ajustement de l'espacement */
        left: 50%; /* Centre le texte horizontalement */
        transform: translateX(-50%); /* Ajout */
        padding: .5rem 1.5rem;
        border-radius: 5.5rem;
        white-space: nowrap;
        color: white;
        transition: opacity .8s ease;
    }

    /* Ajustement de la largeur du champ de recherche pour les écrans plus petits */
    #search-form #search-box {
        width: 90%;
        margin: 0 1rem;
    }

    /* Ajustement de la taille du texte pour les écrans plus petits */
    .home .home-slider .slide .content h1 {
        font-size: 5cap;
    }
}

/* Média query pour les écrans encore plus petits */
@media (max-width: 450px) {
    html {
        font-size: 50%; /* Réduction supplémentaire de la taille de la police */
    }
}
